{% extends 'base.html' %}

{% block body %}
    {% if error is not None %}
        <center><p class="text-start">{{ error }}</p></center>
    {% else %}
        <center><p class="text-start">Новое назначение</p></center>
    {% endif %}
    <div class="form">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <center>
        <table>
            <tr><td align="right">Email специалиста:</td>
                <td width="700px"><center>
					<select class="inp-select" name="spec">
						{% for el in specs %}
							<option>{{ el }}</option>
						{% endfor %}
					</select>
                </center></td>
            </tr>
            <tr><td align="right">Аттестуемые:</td>
				<td><center>
					<select class="inp-select" name="atts" size="20" multiple="multiple" style="width: 90%">
						{% for el in certs %}
							<option>{{ el }}</option>
						{% endfor %}
					</select>
                </center></td>
            </tr>
        </table>
        <br><button type="submit">Добавить назначение</button>
    </center>
    </form>
    </div>
{% endblock %}