{% extends 'registration/base_auth.html' %}
{% block body %}

<p class="main-title">
    {% if info is None %}
    Электронный мониторинг деятельности специалистов, осуществляющих процедуру всестороннего
        анализа профессиональной деятельности педагогических работников
    {% else %}
    {{ info }}
    {% endif %}
</p><br>
<form method="post" action="/login/">
  {% csrf_token %}
    <table align="center">
        <tr>
            <td align="right">Логин:</td>
            <td align="left"><input type="text" name="username"></td>
        </tr>
        <tr>
            <td align="right">Пароль:</td>
            <td align="left"><input type="password" name="password"></td>
        </tr>
    </table>
    <center><button type="submit">Войти</button></center><br>
    <center><a href="{% url 'registration' %}">Регистрация</a></center><br>
    <center><a href="{% url 'password_reset' %}">Забыли пароль?</a></center><br>
</form>
{% endblock %}