{% include 'registration/base_auth.html' %}

{% block body %}
<p class="main-title" xmlns="http://www.w3.org/1999/html">Восстановление пароля</p><br>
    {% if validlink %}
        <table align="center">
            <tr>
                <td align="center">
                    Введите новый пароль и подтвердите его:
                </td>
            </tr>
            <tr>
                <td align="center">
                    <form action="." method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button type="submit" value="Change my password"/>Сменить пароль</button>
                    </form>
                </td>
            </tr>
        </table>
    {% else %}
        <table>
            <tr>
                <td align="center">
                    Ссылка сброса пароля является недействительной, возможно она уже была использована.<br>
                    Запросите восстановление пароля еще раз.
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock %}