{% include 'registration/base_auth.html' %}

{% block body %}
<p class="main-title">Восстановление пароля</p><br>
    <table align="center">
        <tr>
            <td align="center">
                Вам было отправлено сообщение на указанный адрес электронной почты.
            </td>
        </tr>
        <tr>
            <td align="center">
               Если сообщение не пришло проверьте правильно ли введен адрес и повторите попытку.
            </td>
        </tr>
    </table>
{% endblock %}