{% extends 'base.html' %}

{% block body %}
{% if count == 0 %}
<center><p class="text-start">Периоды не найдены</p></center>
{% else %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <center><p class="text-start">Выберите нужные значения параметров для формирования списка экспертных карт</p></center>
    <table align="center">
		<tr>
            <td align="center" width="10%">Период:</td>
            <td align="center" width="60%">
                <select class="inp-select" name="period">
                   {% for el in periods %}
				      <option value="{{ el.id }}">{{ el.name_period }} ({{ el.date_start }} - {{ el.date_end }})</option>
				   {% endfor %}
                </select>
            </td>
		</tr>
        <tr>
            <td align="center" width="10%">Тип МО:</td>
            <td align="center" width="60%">
                <select class="inp-select" name="type_mo">
                   <option>Муниципалитет</option>
                   <option>Гос</option>

                </select>
            </td>
		</tr>
		<tr>
            <td align="center" width="10%">Тип сотрудника:</td>
            <td align="center" width="60%">
                <select class="inp-select" name="type_emp">
                   <option>Специалист</option>
                   <option>Оператор</option>
                </select>
            </td>
		</tr>
    </table>
    <br><center><button type="submit">Сформировать список</button></center>
</form>
{% endif %}
{% endblock %}